.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header_left{
    flex: 0.5;
    min-width: 70px;
    background-color: var(--sidebar_color);
    color: var(--input-color);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header_left > input{
    border: none;
    width: 100%;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_right > h4{
    margin-left: 10px;
}

.header_input:focus{
    outline: none;
}

.header_input{
    background-color: var(--sidebar_color);
}

::placeholder {
    color: var(--input-color);
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--input-color);
  }

.searchbox{
    position: absolute;
    top: 75px;
    left: 390px;
    background-color: rgb(56, 55, 55);
    height: 200px;
    width: 350px;
    border-radius: 30px;
}

.output_box{
    height: 20px;
    width: 100%;
    display: flex;
}

.output_img{
    flex: 0.2;
}

.output_text{
    flex:0.8
}
  