.sidebar{
    border: 1px black;
    height: 100vh;
    flex:0.2;
    color: var(--body_color);
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    height: 100vh;
    background-color: var(--sidebar_background);
}

.sidebar_logo{
    margin-right: auto;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
}

.sidebar_title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}

.album{
    overflow-y: auto;
    height: 400px;
}

.album::-webkit-scrollbar{
    display: none;
}